<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:s="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/gestionEtablissement_mvc?createDatabaseIfNotExist=true"></property>
		<property name="username" value="root"></property>
		<property name="password" value="azAZ12340689322254@"></property>
	</bean>
	
	
	<bean id="persistenceUnitManger"
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath*:META-INF/persistence.xml</value>
			</list>
		</property>
		<property name="defaultDataSource" ref="dataSource"></property>
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitManager" ref="persistenceUnitManger"></property>
		<property name="persistenceUnitName" value="UP_GESTION_ETABLISSEMENT"></property>
	</bean>
    
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"></property>
	</bean>
	<bean id="beneficaireDao" class="com.ensak.tresororie.dao.impl.BeneficaireDaoImpl" />
		<bean id="beneficaireService" class="com.ensak.tresororie.services.impl.BeneficaireServiceImpl">
			<property name="dao" ref="beneficaireDao"></property>
		</bean>
	 <bean id="etablissementDao" class="com.ensak.tresororie.dao.impl.EtablissementDaoImpl" />
		<bean id="etablissementService" class="com.ensak.tresororie.services.impl.EtablissementServiceImpl">
			<property name="dao" ref="etablissementDao"></property>
		</bean>
		
	<bean id="compteDao" class="com.ensak.tresororie.dao.impl.CompteDaoImpl" />
		<bean id="compteService" class="com.ensak.tresororie.services.impl.CompteServiceImpl">
			<property name="dao" ref="compteDao"></property>
		</bean>
		
	<bean id="exerciceDao" class="com.ensak.tresororie.dao.impl.ExerciceDaoImpl" />
		<bean id="exerciceService" class="com.ensak.tresororie.services.impl.ExerciceServiceImpl">
			<property name="dao" ref="exerciceDao"></property>
		</bean>
		
	
		
	<bean id="rubriqueDao" class="com.ensak.tresororie.dao.impl.RubriqueDaoImpl" />
		<bean id="rubriqueService" class="com.ensak.tresororie.services.impl.RubriqueServiceImpl">
			<property name="dao" ref="rubriqueDao"></property>
		</bean>
	<bean id="fluxEntrantDao" class="com.ensak.tresororie.dao.impl.FluxEntrantDaoImpl" />
		<bean id="fluxEntrantService" class="com.ensak.tresororie.services.impl.FluxEntrantServiceImpl">
			<property name="dao" ref="fluxEntrantDao"></property>
		</bean>
	
	<bean id="creditOuvertDao" class="com.ensak.tresororie.dao.impl.CreditOuvertDaoImpl" />
		<bean id="creditOuvertService" class="com.ensak.tresororie.services.impl.CreditOuvertServiceImpl">
			<property name="dao" ref="creditOuvertDao"></property>
		</bean>
		
	<bean id="modePaiementDao" class="com.ensak.tresororie.dao.impl.ModePaiementDaoImpl" />
		<bean id="modePaiementService" class="com.ensak.tresororie.services.impl.ModePaiementServiceImpl">
			<property name="dao" ref="modePaiementDao"></property>
		</bean>
	<bean id="ordrePaiementDao" class="com.ensak.tresororie.dao.impl.OrdrePaiementDaoImpl" />
		<bean id="ordrePaiementService" class="com.ensak.tresororie.services.impl.OrdrePaiementServiceImpl">
			<property name="dao" ref="ordrePaiementDao"></property>
		</bean>
	<bean id="utilisateurDao" class="com.ensak.tresororie.dao.impl.UtilisateurDaoImpl" />
		<bean id="utilisateurService" class="com.ensak.tresororie.services.impl.UtilisateurServiceImpl">
			<property name="dao" ref="utilisateurDao"></property>
		</bean> 
		
	<tx:annotation-driven transaction-manager="transactionManager" />
	<context:annotation-config></context:annotation-config>
	
	<s:http auto-config="true" >
		<s:intercept-url pattern="/beneficaire/**" access="ROLE_ADMIN"/>
		<s:intercept-url pattern="/compte/**" access="ROLE_ADMIN"/>
		<s:intercept-url pattern="/creditOuvert/**" access="ROLE_ADMIN"/>
		<s:intercept-url pattern="/etablissement/**" access="ROLE_ADMIN"/>
		<s:intercept-url pattern="/exercice/**" access="ROLE_ADMIN"/>
		<s:intercept-url pattern="/fluxEntrant/**" access="ROLE_ADMIN"/>
		<s:intercept-url pattern="/modePaiement/**" access="ROLE_ADMIN"/>
		<s:intercept-url pattern="/ordrePaiement/**" access="ROLE_ADMIN"/>
		<s:intercept-url pattern="/rubrique/**" access="ROLE_ADMIN"/>
		<s:intercept-url pattern="/utilisateur/**" access="ROLE_ADMIN"/>
		
		
		<s:form-login login-page="/" default-target-url="/accueil/" authentication-failure-url="/failedlogin"/>
		<s:access-denied-handler error-page="/403/"/>

		<s:logout logout-success-url="/" delete-cookies="JSESSIONID"/>
	</s:http>

	<s:authentication-manager>
		<s:authentication-provider>
 			<!--  <s:password-encoder hash="md5" /> -->
 			<!--  <s:password-encoder hash="md5" base64="true" /> -->
			<s:jdbc-user-service data-source-ref="dataSource" 
				users-by-username-query="select idUtilisateur, motDePasse, actived from utilisateur where idUtilisateur=?" 
				authorities-by-username-query="select u.idUtilisateur, u.type from utilisateur u where  u.idUtilisateur=?" />
		</s:authentication-provider>
	</s:authentication-manager>


</beans>
